.profile-right{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    overflow-y: scroll;
}
.profile-right h1{
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}
.profile-card{
    height: calc(80vh - 80px);
    width: 70%;
    background-color: white;
    border-radius: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.info-box{
    border-top: 1px solid lightgrey;
    padding: 20px
}
.profile-bg{
    background-color: var(--offwhite);
    height: calc(100vh - 80px);
    display: flex;
}
.left-side-bar{
    height: calc(100vh - 80px);
    width: 30%;
}
.profile-right{
    width:70%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
}
.profile-page-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
}
.side-bar-links{
    padding-top: 5vh;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side-bar-links a{
    width: 100%;
    height:15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgrey;
    font-size: 20px;
    font-weight: 500;
}
.side-bar-links a:hover, .side-bar-links a.active{
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.204);
}
.host-button, .attend-button{
    /* font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin: 10px */
    background-color: var(--turquoise);
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-semibold);
    color: white;
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 40px;
    margin-left: 12px;
}
.host-button:hover{
    cursor:pointer;
    background-color: #4edad8;
}
.attend-button:hover{
    cursor:pointer;
    background-color: #f69037;
}
.host-button:active, .attend-button:active{
    background-color: #1a8381;
}
.host-button{
    background-color: var(--turquoise);
}
.attend-button{
    background-color: var(--orange);
}