.profile-right{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    overflow-y: scroll;
}
.profile-right h1{
    font-size: 25px;
    font-weight: var(--font-weight-verybold);
    margin: 20px;
}
.profile-right .editing{
    margin: 20px;
}
.img-dropdown{
    background-color: var(--turquoise);
    margin: 20px;
    font-size: large;
    font-weight: var(--font-weight-verybold);
    padding: 10px;
    border-radius: 10px;
    
}
.img-dropdown:hover{
    cursor: pointer;
    background-color: #4edad8;
}
.img-dropdown:active{
    background-color: #1a8381;
}
.img-dropdown p{
    color: white;
}
.profile-card{
    height: calc(80vh - 80px);
    width: 70%;
    background-color: white;
    border-radius: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.info-box{
    border-top: 1px solid lightgrey;
    padding: 20px
}
.profile-bg{
    background-color: var(--offwhite);
    height: calc(100vh - 80px);
    display: flex;
}
.left-side-bar{
    height: calc(100vh - 80px);
    width: 30%;
}
.profile-right{
    width:70%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
}
.profile-page-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
}
.side-bar-links{
    padding-top: 5vh;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side-bar-links a{
    width: 100%;
    height:15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgrey;
    font-size: 20px;
    font-weight: 500;
}
.side-bar-links a:hover, .side-bar-links a.active{
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.204);
}
.host-button, .attend-button{
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    color: white;
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin: 10px
}
.host-button:hover{
    cursor:pointer;
    background-color: #4edad8;
}
.attend-button:hover{
    cursor:pointer;
    background-color: #f69037;
}
.host-button:active, .attend-button:active{
    background-color: #1a8381;
}
.host-button{
    background-color: var(--turquoise);
}
.attend-button{
    background-color: var(--orange);
}
.delete-button{
    margin: 10px;
}


.delete-upper-x {
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    left:-150px;

}

.delete-upper-x:hover {
    background-color: rgb(235, 235, 235);
    border-radius: 100%;
}
.user-info-top{
    display: flex;
    align-items: center;
}
.user-info-buttons{
    display: flex;
    flex-direction: column;
}

.dropdown-options.edit-profile{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #8dd8d7;
    padding: 10px;
    height: 30vh;
    overflow-y: scroll;
    border-radius: 5px;
    left: 10px;
    align-items: center;
    width: 250px;
}

.margin-top-ten {
    margin-top: 10px;
}