button.filter-dropdown{
    background-color: var(--orange);
    /* font-size: 18px;
    font-weight: bold; */
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-semibold);
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    margin-bottom: 10px;
}
.width50{
    width: 50%
}
button.filter-dropdown:hover{
    background-color: #4edad8;
    cursor: pointer;
}
label.dropdown-option{
    display: flex;
    flex-direction: row;
    margin: 10px
}
img.star-rating{
    height: 20px;
    margin: 5px 0px;
}
div.quest-card{
    padding: 20px;
    background-color: white;
    border-radius: 7px;
    width: 85%;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
div.quest-card:hover{
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.45);
}

.home-flex{
    background-color: var(--offwhite);
}
h1.quest-title{
    font-size: 27px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}
.card-column{
    width: 100%;
    height: calc(100vh - 140px);
    overflow-y: scroll;
}
.quest-start-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

button.create-quest-button{
    background-color: var(--turquoise);
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-semibold);
    color: white;
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    margin-top: 20px;
    margin-bottom: 10px;
}

.quests-button-index-headers {
    border-radius: 7px;
    width: calc(85% + 25px);
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

button.create-quest-button:hover{
    /* background-color: #4edad8; */
    cursor: pointer;
    background-color: #238C83;

}