nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;
    height: 80px;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-top: 12px;
    position: sticky; 
    z-index: 3;
    background-color: var(--turquoise);
}

.nav-left {
    display: flex;
    align-items: center;
    margin-left: 12px;
}
  
.nav-right {
    display: flex;
    align-items: center;
    margin-right: 12px;
}
  
.nav-bar-logo {
    width: 150px; 
    height: 100%; 
}

.signup-button {
    background-color: var(--offwhite);
    border: 1px solid var(--turquoise);
    border-radius: 5px;
    color: var(--turquoise);
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-semibold);
    margin-right: 12px;
    cursor: pointer;
    height: 35px;
    width: 100px;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}

.signup-button:hover {
    background: white;
}

.login-button {
    background-color: var(--turquoise);
    border: 1px solid var(--turquoise);
    border-radius: 5px;
    color: var(--offwhite);
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    height: 40px;
    width: 75px;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}
  
.login-button:hover {
    color: white;
}

.logout-button {
    background-color: var(--turquoise);
    border: 1px solid var(--turquoise);
    border-radius: 5px;
    color: var(--offwhite);
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    height: 40px;
    width: 100%;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    /* padding: 8px 8px 8px 8px; */
}

.logout-button:hover {
    /* background-color: var(--offwhite);
    border: 1px solid var(--turquoise); */
    color: var(--red);
}

.user-icon-holder {
    margin-left: 24px;
    margin-right: 24px;
}

.fa-solid.fa-user {
color: white;
font-size: var(--font-size-400);

}

.fa-solid.fa-user:hover {
    color: var(--red);
}

.create-quest-nav-button {
    background-color: var(--turquoise);
    border: 1px solid var(--turquoise);
    border-radius: 5px;
    color: var(--offwhite);
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    /* padding: 8px 16px;  */
    white-space: nowrap;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 24px;
    transition: transform 250ms;
    margin-right: 24px;
    transition: transform 250ms;
}

.create-quest-nav-button:hover {
    /* color: var(--red); */
    transform: translateY(-5px);
    /* color: var(--red); */
    transform: translateY(-5px);
}


  /* transition: transform 250ms; */

  /* transform: translateY(-5px); */

  
  .profile-dropdown {
    border: 1px solid;
    min-height: 40px;
    min-width: 180px;
    max-height: 849.6px;
    max-width: 360px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
    border-radius: 16px;
    position: absolute;
    display: flex;
    background-color: white;
    color: #fff; 
    margin: 8px;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    z-index: 3;
    top: 70px;
    right: 0.5px;
  }
  
  .drop-down-option{
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 8px 8px 8px;
    display: flex;
    margin: 0 0 0 0;
    font-size: var(--font-size-300);
    font-weight: var(--font-weight-semibold);
    text-align: 11;
  }
  
  .drop-down-option:hover {
    color: var(--orange);
    background-color: var(--offwhite);
  }

  .drop-down-line{
    border-radius: 8px;
    padding: 0px 8px 0px 8px;
    display: flex;
    margin: 0 0 0 0;
    font-size: var(--font-size-300);
    font-weight: var(--font-weight-semibold);
    color: rgb(206, 206, 206);
    text-align: 11;
  }
  

  .nav-avatar {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background: url("https://magellan-seeds.s3.amazonaws.com/mag_white_small.png") no-repeat;
    /* transition: transform 250ms; */
  }

  .nav-avatar:hover {
    cursor: pointer;
    content: url('https://magellan-seeds.s3.amazonaws.com/mag_orange_small.png');
    /* transform: translateY(-5px); */
  }
