.map {

}

.questMarker {
    line-height: 30px;
    background-color: var(--red);
    border: 2px solid white;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    color: white;
    cursor: pointer;
    z-index: 10;
    text-align: center;
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-verybold);
}

.questMarker:hover {
    background-color: #D52200;
    height: 33px;
    width: 33px;
    line-height: 33px;
}

.questMarker:active {
    background-color: #FF3E00 ;
    height: 27px;
    width: 27px;
    line-height: 27px;
}