/* Main Elements */
.quest-show-full-page {
    justify-content: center;
    /* top: 80px; */
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    align-items: center;
    /* padding-top: 28px; */
    height: calc(100vh - 80px);
}

.quest-show-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* border-radius: 32px 32px 0px 0px; */
    flex-direction: column;
    background-color: rgba(0,0,0,0.1);
}

.quest-show-full-bottom {
    display: flex;
    flex-direction: row;
    height: 70vh;
}

/* Hero Image & Title */
.quest-show-title {
    font-size: 50px;
    font-weight: var(--font-weight-semibold);
    margin-right: 24px;
    color: white;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0,0,0,0.1);
}

.quest-show-tags-holder {
    margin-bottom: 36px;
}

.quest-show-tags {
    padding-top: 6px;
    display: flex;
    align-items: flex-end;
}

/* Left Side  */
.quest-show-left {
    box-sizing: border-box;
    border-radius: 0px 0px 0px 32px;
    width: 50%;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
    vertical-align: middle;
}

.quest-show-map-holder {
    display: flex;
    height: 50%; 
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.quest-show-reviews-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%; 
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.quest-show-reviews-header {
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-bold);
    margin-bottom: 12px;
}

.quest-show-review {
    margin-bottom: 24px;
}

/* Right Side */

.quest-show-right {
    width: 50%;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    position: relative;
}

.quest-show-body-holder {
    flex-direction: column;
    display: flex;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 24px;
    height: 80vh;
}

.quest-show-description {
    font-size: var(--font-size-500);
    margin-bottom: 24px;
}

.show-label {
    font-weight: var(--font-weight-bold);
}

.show-rating-label {
    font-weight: var(--font-weight-bold);
    margin-right: 6px;
}

.quest-show-text {
    font-size: var(--font-size-400);
    margin-bottom: 12px;
}

.quest-show-text.star-rating {
    display: flex;
    align-items: center;
    margin-top: -5px;
}

/* Buttons */
.quest-show-buttons-holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
}

.quest-show-start-quest {
    background-color: var(--orange);
    color: white;
    border-radius: 5px;
    font-size: var(--font-size-400);
    cursor: pointer;
    padding: 8px 12px;
    border: 4px solid transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-right: 12px;
}

.quest-show-start-quest:hover {
    background-color: #DC6E02;
}


.quest-show-schedule-quest {
    background-color: var(--turquoise);
    color: white;
    border-radius: 5px;
    font-size: var(--font-size-400);
    cursor: pointer;
    padding: 8px 12px;
    border: 4px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 0px;
}

.quest-show-schedule-quest:hover {
    background-color: #238C83;
}

