.quest-show-full-page {
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    flex: 1 1 auto;
    /* align-items: center; */
}

.quest-show-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc((100vh - 80px) * 0.3);
    width: 100%;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.1);
    position: relative;
}

.quest-show-full-bottom {
    display: flex;
    flex-direction: row;
    height: calc((100vh - 80px) * 0.7);
}

.quest-show-title {
    font-size: 50px;
    font-weight: var(--font-weight-semibold);
    margin-bottom: 6px;
    color: white;
    text-shadow: 0 0px 5px rgba(0, 0, 0, 0.703);
}

.quest-show-tags-holder {
    /* margin-bottom: 36px; */
}

.quest-show-tags {
    padding-top: 6px;
    display: flex;
    align-items: flex-end;
}

.quest-show-left {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column; 
    padding-bottom: 24px;

}

.quest-show-right {
    width: 50%;
    flex-direction: column;
    display: flex;
    position: relative;
}

.quest-show-map-holder {
    display: flex;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    height: calc((100vh - 80px) * 0.7 * 0.5);
}

.quest-show-reviews-holder {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 24px;
    padding-left: 24px;
    /* padding-top: 24px; */
    padding-bottom: 24px;
    height: calc((100vh - 80px) * 0.7 * 0.5);
}

.quest-show-reviews-header {
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-bold);
    margin-bottom: 12px;
}

.quest-show-review {
    margin-bottom: 24px;
}

.quest-show-body-holder {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;    
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    height: calc((100vh - 80px) * 0.7 * 0.5);
}

.quest-show-description {
    font-size: var(--font-size-500);
    margin-bottom: 24px;
}

.show-label {
    font-weight: var(--font-weight-bold);
}

.show-rating-label {
    font-weight: var(--font-weight-bold);
    margin-right: 6px;
}

.quest-show-text {
    font-size: var(--font-size-400);
    margin-bottom: 12px;
}

.quest-show-text.star-rating {
    display: flex;
    align-items: center;
    margin-top: -5px;
}

/* Buttons */
.quest-show-buttons-holder {
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    height: calc((100vh - 80px) * 0.7 * 0.5);
}

.show-page-button {
    background-color: var(--turquoise);
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    padding: 8px 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 40px;
    margin-left: 12px;
}

.show-page-button:hover{
    background-color: #238C83;
}

.show-page-button-orange-button{
    background-color: var(--orange);
}

.show-page-button-orange-button:hover{
    background-color: #DC6E02;
}

.show-page-button-blue-button{
    background-color: var(--blue);
}

.show-page-button-blue-button:hover{
    background-color: #6BA9C9;
}

.show-page-button-red-button{
    background-color: var(--red);
}

.show-page-button-red-button:hover{
    background-color: #D52200;
}

.back-holder {
    display: flex;
    justify-content: left;
    position: absolute; 
    top: 0; 
    left: 0; 
    margin-top: 12px;
    margin-left: 24px;
    background-color: var(--orange);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.back-holder:hover{
    background-color: #DC6E02;
    cursor: pointer;
}

.back-text{
    font-size: 24px;
    font-weight: var(--font-weight-semibold);
    color: white;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.quest-show-creator-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;
}

.quest-show-bar-left {
    display: flex;
    align-items: center;
}

.quest-show-bar-right {
    display: flex;
    align-items: center;
}