.splash-page-body {
    background-color: var(--offwhite);
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: row;
}

.splash-left {
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex: 1;
    flex-basis: 50%;
}


.splash-left-hero-image-holder {
    display: flex;
}

.splash-page-hero-image {
    width: 100%;
}

.splash-right {
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex: 1;
    flex-basis: 50%;
}

.splash-right-logo-holder {
    display: flex;
    justify-content: center;
}

.splash-right-logo{
    width: 80%;
    
}

.splash-right-text-holder {
    width: 80%;
}

.splash-page-body-text {
    font-size: 24px;
    font-weight: var(--font-weight-normal);
    color: rgb(48, 48, 48);
    text-align: center;
    margin-top: -24px;
    margin-bottom: 24px;
    text-shadow: 0 0 2px white;
}

.splash-page-body-text-header {
    font-weight: var(--font-weight-semibold);
    font-size: 32px;
    margin-bottom: 24px;
}

.splash-page-body-text-footer {
    font-weight: var(--font-weight-semibold);
    font-size: 24px;
    margin-top: 24px;
    /* margin-bottom: 24px; */
}

.splash-page-body-text-link {
    font-weight: var(--font-weight-semibold);
}

.splash-page-body-text-link:hover {
    text-decoration: underline;
    /* color: var(--orange); */
}

.splash-right-cta {
    background-color: var(--orange);
    color: white;
    font-weight: var(--font-weight-semibold);
    border-radius: 5px;
    font-size: var(--font-size-400);
    cursor: pointer;
    padding: 8px 12px;
    border: 4px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display:flex;
    align-items: center;
}
/* .splash-right-cta p{
    color: white;
    margin-left: 5px
} */
p.intro{
    font-weight: 500;
    line-height: 27px;
    margin-top: 20px;
}
p.intro strong{
    font-style: italic;
    font-weight: 600;
    line-height: 55px;
}

.splash-right-cta:hover{
    background-color: #DC6E02;
}
.splash-right-cta:active{
    background-color: #b35a01;
}
img.icon{
    height: 23px;
    width: 23px;
    object-fit: cover;
    margin-right: 6px;
}