.splash-page-body {
    background-color: var(--offwhite);
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* position: relative; */
}

.splash-left {
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex: 1;
    flex-basis: 50%;
}


.splash-left-hero-image-holder {
    display: flex;
    /* align-items: flex-end; */
    /* height: 100vh; */
}

.splash-page-hero-image {
    /* width: 100%; */
    height: 600px;
    width: auto;
}

.splash-right {
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex: 1;
    flex-basis: 50%;
}

.splash-right-logo-holder {
    /* align-self: flex-start; */
    /* margin-top: 0; */
    /* margin: auto; */
}

.splash-right-logo{
    width: 500px;
}

.splash-right-text-holder {
    /* margin-bottom: auto; */
    /* margin: auto; */
    width: 80%;
}

.splash-page-body-text {
    font-size: var(--font-size-400);
    color: rgb(48, 48, 48);
    text-align: center;
    margin-top: -12px;
    margin-bottom: 24px;
}

.splash-right-cta {
    background-color: var(--red);
    color: white;
    border-radius: 5px;
    /* border: none; */
    font-size: var(--font-size-400);
    cursor: pointer;
    padding: 8px 12px;
    border: 4px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.splash-right-cta:hover{
    background-color: var(--turquoise);
}