div.page-overlay{
    height: 100vh;
    width: 100%;
    background-color:#31afad60;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup-form button, .submit-button{
    background-color: var(--turquoise);
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-semibold);
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    margin: 10px;
    width: 266px;
}

.login-signup-form button:hover, .submit-button:hover{
    background-color: #238C83;
    cursor: pointer;
}

.login-signup-form h1{
    font-size: 25px;
    font-weight: var(--font-weight-bold);
    margin: 5px;
}

.prof-img-dropdown{
    height: 145px;
    width: 145px;
    border-radius: 5px;
    object-fit: cover;
}

.prof-img-dropdown option{
    height: fit-content;
    width: fit-content;
}

button.img-dropdown {
    background-color: white;
    border: 1px solid #111;
    border-radius: 5px;
    padding: 8px;
    width: 266px;
    cursor: pointer;
    color: rgba(118, 118, 118);
    font-size: var(--font-size-200);
    font-weight: var(--font-weight-normal);
    margin-bottom: 5px;
}

button.img-dropdown:hover {
    background-color: white;
    border: 1px solid var(--turquoise);
}

button.demo-login {
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-semibold);
    background-color: #238C83;
}

button.demo-login:hover {
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-semibold);
    background-color: #1c6a64;
}

.selected-image{
    height: 120px;
    width: 120px;
    border-radius: 5px;
    object-fit: cover;
}

.option-image{
    height: 80px;
    width: 80px;
    border-radius: 5px;
    object-fit: fill;
    margin: 10px;
}

.option-image:hover{
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.dropdown-options{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #8dd8d7;
    padding: 10px;
    height: 30vh;
    overflow-y: scroll;
    border-radius: 5px;
}

.login-signup-form label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}
.login-signup-form p{
    margin-bottom: 5px;
}

form.login-signup-form, div.delete-form{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
    background-color: white;
    width: 300px;
    height: auto;
    padding: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

p.error{
    color: #F23005;
    font-size: 12px;
}

p.error::before{
    content:"🚨 ";
}

p.error::after{
    content:" 🚨";
}

button.form-swap{
    color: var(--turquoise);
    background-color: transparent;
    border: none;
    font-size: 18px;
}

button.form-swap:hover{
    background-color: transparent;
    color: #238C83;
    cursor:pointer;
}

.login-signup-form label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

.login-signup-form p{
    margin-bottom: 5px;
}

.login-input-text {
    border: 1px solid #111;
    border-radius: 5px;
    padding: 8px;
    width: 250px;
}

.login-input-text:hover {
    border: 1px solid var(--turquoise);
}

.home-state-label {
    display: flex;
    align-self: start;
    margin: 10px;
    margin-bottom: 5px;
    padding-left: 8px;
}

.home-state {
    border: 1px solid #111;
    border-radius: 5px;
    padding: 8px;
    width: 266px;
    cursor: pointer;
    color: rgba(118, 118, 118);
    margin-bottom: 5px;
}

.home-state:hover {
    border: 1px solid var(--turquoise);
    background-color: var(--turquoise);
    color: white;
}

.footer-text {
    margin-top: 10px;
    margin-bottom: 5px;
}

.form-swap{
    color: #31AFAC;
    background-color: transparent;
    border: none;
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    margin-left: 6px;
    /* font-size: 18px; */
}
