div.page-overlay{
    height: 100vh;
    width: 100%;
    background-color:#31afad60;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prof-img-dropdown{
    height: 145px;
    width: 145px;
    border-radius: 5px;
    object-fit: cover;
}
.prof-img-dropdown option{
    height: fit-content;
    width: fit-content;
}
.login-signup-form button, .submit-button{
    background-color: var(--turquoise);
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-semibold);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid transparent;
    margin: 10px;
    width: 250px;
}

.login-signup-form button:hover, .submit-button:hover{
    background-color: #238C83;
    cursor: pointer;
}
.login-signup-form h1{
    font-size: 25px;
    font-weight: var(--font-weight-bold);
    margin: 10px;
}

.demo-login {
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-semibold)
}

.selected-image{
    height: 120px;
    width: 120px;
    border-radius: 5px;
    object-fit: cover;
}
.option-image{
    height: 80px;
    width: 80px;
    border-radius: 5px;
    object-fit: fill;
    margin: 10px;
}
.option-image:hover{
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.dropdown-options{
    position: absolute;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: #8dd8d7;
    padding: 10px;
    height: 30vh;
    overflow-y: scroll;
    border-radius: 5px;
}

.login-signup-form label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}
.login-signup-form p{
    margin-bottom: 5px;
}

form.login-signup-form{
    border-radius: 5px;
    border: 1px solid #31AFAC;
    background-color: white;
    width: 300px;
    padding: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

p.error{
    color: #F23005;
    font-size: 12px;
}
p.error::before{
    content:"🚨 ";
}
p.error::after{
    content:" 🚨";
}

button.form-swap{
    color: #31AFAC;
    background-color: transparent;
    border: none;
    font-size: 18px;
}
button.form-swap:hover{
    background-color: transparent;
    color: #8dd8d7;
    cursor:pointer;
}

.login-input-text {
    border: 1px solid #31AFAC;
    border-radius: 5px;
    /* padding: 8px; */
    margin: 5px;
    width: 250px;
    height: 24px;
}

.footer-text {
    margin-top: 12px;
}

.state-formatting {
    background-color: var(--turquoise);
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-semibold);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid transparent;
    margin: 10px;
    width: 250px;
    text-align: center;
}

.state-formatting {
    cursor: pointer;
}