div.page-overlay{
    height: 100vh;
    width: 100%;
    background-color:#31afad60;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-page {
    height: 75vh;
    display: flex; 
    background-color: rgb(246, 246, 250);
    flex-direction: column;
    border: solid 1px #31AFAC;
    border-radius: 10px;
    padding: 10px;
}

.quest-form {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.form-heading {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.form-label {
    margin: 10px;
    margin-left: 20px;
    text-align: top;

}


.form-label-td {
    margin: 10px;
    margin-left: 20px;
    width: 50px; 
}

.form-input-field {
    border-radius: 4px;
    border: 1px solid rgb(209, 209, 213);
    margin-left: 20px;
}

.form-input-field:hover {
    border: 1px solid #31AFAC;
}

.form-input-field-td {
    width: 400px; 
    border-radius: 4px;
    border: 1px solid rgb(209, 209, 213);
    margin-left: 20px;
}

.form-input-field-td:hover {
    border: 1px solid #31AFAC;
}

.form-input-field-c {
    width: 150px; 
    height: 60px; 
    border-radius: 4px;
    border: 1px solid rgb(209, 209, 213);
    margin-left: 20px;
    overflow-wrap: "break-word";
    resize: none; 
}

.form-input-field-c:hover {
    border: 1px solid #31AFAC;
}

.form-dur-rad {
    margin-top: 10px; 
}

.form-label-tags {
    display: flex; 
    margin-left: 40px;
    justify-content: space-around;
}

.form-input-cb {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 15px;
}

.form-button-create {
    width: 300px; 
    background-color: var(--turquoise);
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.form-button-create:hover {
    background-color: #4edad8;
}

.form-button-close {
    width: 300px; 
    background-color: var(--red);
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

.form-button-close:hover {
    background-color: #31AFAC;
}

.form-button-div {
    display: flex; 
    justify-content: space-around;
    padding-top: 20px;
}
  
.form-label-tag-header {
    height: 20px; 
    text-align: center;
    align-content: center;
}

p.form-error{
    color: #F23005;
    font-size: 14px;
    margin-left: 20px; 
    text-align: center;
    padding-bottom: 2px;
}

.form-error-div {
    display: flex; 
    padding: 5px; 
    justify-content: center;
}

.create-upper-x-container {
    position: relative;
}

.create-upper-x {
    position: absolute;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-upper-x:hover {
    background-color: rgb(235, 235, 235);
    border-radius: 100%;
}

.quest-form input[type="text"], .quest-form input[type="number"]{
    line-height: 20px;
}