/* label, input[type="file"]{
    max-width: 95%;
    overflow-x:hidden
} */
.back-holder.bring-down-back{
    top: 90px;
}
div.page-overlay{
    height: 100vh;
    width: 100%;
    background-color:#31afad60;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-dropdown.states-dropdown{
    padding: 4px 5px;
    width: 213px;
    margin-left: 10px;
    box-shadow: none;
    border: 1px solid rgb(209, 209, 213);
}

.create-page {
    display: flex; 
    background-color: rgb(246, 246, 250);
    flex-direction: column;
    /* border-radius: 10px; */
    padding: 10px;
}

.quest-form {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.form-heading {
    font-size: 45px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.form-address {
    margin-top: 10px; 
    display: flex;
    justify-content: space-between;
    
}

.form-label-checkpoint {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-label {
    margin: 10px;
    margin-left: 20px;
    text-align: top;
    font-size: 25px;
    display: flex;
    flex-wrap: nowrap;
}

.form-label-cp-name {
    margin: 10px;
    margin-left: 20px;
    margin-top: 30px;
    text-align: top;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.checkpoint-div {
    display: flex; 
    align-items: flex-start;
    padding: 10px;
}


.form-label-td {
    margin: 10px;
    margin-left: 20px;
    text-align: top;
    font-size: 25px;
    display: flex; 
    justify-content: space-between;
}

.form-input-field {
    border-radius: 4px;
    height: 25px; 
    border: 1px solid rgb(209, 209, 213);
    margin-left: 20px;
    font-size: 20px;
}

.form-input-field:hover {
    border: 1px solid #31AFAC;
}

.form-input-field-td {
    width: 1000px; 
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgb(209, 209, 213);
    margin-left: 20px;
    font-size: 20px;
}

.form-input-field-td:hover {
    border: 1px solid #31AFAC;
}

.form-input-field-c {
    width: 150px; 
    height: 80px; 
    border-radius: 4px;
    border: 1px solid rgb(209, 209, 213);
    margin-left: 20px;
    overflow-wrap: "break-word";
    resize: none;

}

.form-input-field-c:hover {
    border: 1px solid #31AFAC;
}

.form-dur-rad {
    margin-top: 10px; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
div.create-quest-middle-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form-label-tags {
    display: flex; 
    margin-left: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form-input-cb {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 15px;
}

.form-button-create {
    width: 300px; 
    background-color: var(--turquoise);
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.form-button-create:hover {
    background-color: #4edad8;
}

.form-button-close {
    width: 300px; 
    background-color: var(--red);
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

.form-button-close:hover {
    background-color: #31AFAC;
}

.form-button-div {
    display: flex; 
    justify-content: space-around;
    padding-top: 20px;
}
  
.form-label-tag-header {
    height: 20px; 
    text-align: center;
    align-content: center;
}

p.form-error{
    color: #F23005;
    font-size: 14px;
    margin-left: 20px; 
    text-align: center;
    padding-bottom: 2px;
}

.form-error-div {
    display: flex; 
    padding: 5px; 
    justify-content: center;
}

.create-upper-x-container {
    position: relative;
}

.create-upper-x {
    position: absolute;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.create-upper-x:hover {
    border-radius: 100%;
    background-color: #31AFAC;
    cursor: pointer;
}

.quest-form input[type="text"], .quest-form input[type="number"]{
    line-height: 20px;
}
input[type="file"]{
    margin-left: 10px;
    font-family: sans-serif;
    font-size:18px;
    width: 240px;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.form-dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background-image: url('../../../public/assets/magellan_faviconv2.png');
    background-size: contain; */
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 4px 4px #ccc;
}

.checkpoint-add-button {
    color: white; 
    background-color: var(--blue);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    font-weight: var(--font-weight-bold);
}

.checkpoint-add-button:hover {
    background-color: #4edad8;
}

.checkpoint-remove-button {
    color: white; 
    height: 30px; 
    background-color: var(--red);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: 30px; 
}

.checkpoint-remove-button:hover {
    background-color: #4edad8;
}